.nav-ul li{
   display: inline-block;
   padding: 10px;
   margin: 1.3em 1.2em;
}

.nav-ul li a{
  color: rgb(16, 13, 13);
  text-decoration: none;
  padding: 5px;

}
.nav-ul{
  width: 95%;
  height: 5em;
  padding:0%;
  margin: 0;
  margin: 2px auto;
  background-color: rgba(130, 207, 237, 0.801);
  border-radius: 8px;
}

.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: rgb(35, 37, 39);
  color: white;
}




